<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1">Property Search</span>
    </nav>
    <div class="row">
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" alt="image placeholder">
                        <h3 class="card-title">Dummy Card</h3>
                        <p class="card-text">Dummy card text</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTest1">
                            More Info
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modalTest1" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">House Info</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Square Footage: {{ @property['sqFoot'] }}</li>
                                            <li># of Bedrooms: {{ @property['bedCount'] }}</li>
                                            <li># of Bathrooms {{ @property['bathCount'] }}</li>
                                            <li>Description: {{ @property['description'] }}</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" alt="image placeholder">
                        <h3 class="card-title">Dummy Card</h3>
                        <p class="card-text">Dummy card text</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" alt="image placeholder">
                        <h3 class="card-title">Dummy Card</h3>
                        <p class="card-text">Dummy card text</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" alt="image placeholder">
                            <h3 class="card-title">Dummy Card</h3>
                            <p class="card-text">Dummy card text</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" alt="image placeholder">
                            <h3 class="card-title">Dummy Card</h3>
                            <p class="card-text">Dummy card text</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" alt="image placeholder">
                            <h3 class="card-title">Dummy Card</h3>
                            <p class="card-text">Dummy card text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="add">
        <button>Add a New Home!</button>
    </a>
</div>
<script src="/305/bootstrap-tutorial/js/jquery.slim.min.js"></script>
<script src="/305/bootstrap-tutorial/js/popper.min.js"></script>
<script src="/305/bootstrap-tutorial/js/bootstrap.min.js"></script>

</body>
</html>